<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJLjvIH28B3BwH-FCvG65Fs77_-3hrE2I</string>
	<key>GCM_SENDER_ID</key>
	<string>593758522061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ukihome.ouchiStocker</string>
	<key>PROJECT_ID</key>
	<string>ouchi-stocker</string>
	<key>STORAGE_BUCKET</key>
	<string>ouchi-stocker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593758522061:ios:3b64527665b02e53883784</string>
</dict>
</plist>